
[Unit]
Description=PGW API
After=network-online.target
Wants=network-online.target

[Service]
User=pgw
Group=pgw
EnvironmentFile=/etc/pgw/pgw.env
ExecStart=/usr/local/bin/pgw-api
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
