
[Unit]
Description=PGW Agent
After=network-online.target nftables.service
Wants=network-online.target

[Service]
User=pgw
Group=pgw
AmbientCapabilities=CAP_NET_ADMIN
EnvironmentFile=/etc/pgw/pgw.env
ExecStart=/usr/local/bin/pgw-agent
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
